.caption {
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase !important;
    text-align: center !important;

    font-family: "consolas";
    font-size: 32px;
    font-weight: 900;
    /* display: block; */
    /* unicode-bidi: isolate; */
}

.pagination {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopwin {
    padding: 48px 5%;
}

.shopbox {
    margin-top: 48px;
    display: flex;
    /* justify-content: center; */
}

.filter {
    width: 250px;
    display: block;
}

.clearbtn {
    width: 100%;
    text-align: left;
    font-variant: normal;
    font-weight: 500;
    padding: 16px 20px;
    cursor: pointer;
}

.listbox {
    display: block;
    width: 100%;
}

.newestdown {
    display: flex;
    justify-content: right;
}

.cardImage {
    height: 200px;
    width: 200px;

}

.cardbox {
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}