.input{
    width: 290.4px;
    height: 24px;
    padding: 4px;
    /* border: none; */
    border-bottom-color: rgb(255, 255, 255);
   
    display: flex;
    justify-content: left;
    margin-top: 8px;
    background-color: rgba(8, 8, 8, 0);
    color: aliceblue;

}
.nolabelinput{
    border-radius: 3px;
    border: 2px solid rgba(128, 128, 128, 0.726);
    /* outline: 1px solid rgb(83, 83, 83) ; */
    padding: 8px;
    margin: 5px;
}
