#searchBar{
    width: 100%;
    height: 0px;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    transition: 400ms;
    position: fixed;
    top: 0px;
    backdrop-filter:blur(10px);
    left: 0px;
    z-index: 1;
}
.trending{
    font-size: 30px;
    margin-bottom: 10px;
}
.topBar{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.goodsid{
    font-size: 18px;
    text-align: left;
}
.goodsprice{
    font-size: 16px;
    text-align: left;
}
.goods{
    margin-left: 10px;
    display:block;


}
.mag{
    width: 50px;
    height: 50px;
    margin: 0px 50px;
    padding: 0px;
}
.mag img{
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
}
.listdata{
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin:10px;
    overflow: auto;
}

.list{
    display: flex;
    justify-content: sap;
}
.siteMark{
    margin-left: 2%;
    height: 100px;
    width: 100px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.siteMark img{
    height: 100px;
    width: auto;
    margin: 0px;
    padding: 0px;

}
.down{
    display: block;
    padding:  5px 25%;
    height: 20%;
    overflow: auto;
}
.proList{
    display: block;
    justify-content: left;
    padding: 0px 25%;
    height: 300px;
}
.searchBox{
    background-color: rgba(221, 221, 221, 0.699);
    color: gray;
    padding: 10px;
    width: 55%;
    border: none;
    display: flex;
   justify-content: space-between;
    border-radius: 50px;
}
.searchBox input{
    padding: 5px 20px;
    font-size: 15px;
    border: none;
    width: 100%;
    outline: none;
    background-color:rgba(221, 221, 221, 0);
}
.lens{
    display: flex;
    align-items: center;
}
#foggy{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height:0%;
    align-items:end;
    position: fixed;
    backdrop-filter:blur(10px);
    top: 0px;
    transition:400ms;
    
}
#outBar{
    display: flex;
    width: 100%;
    height: 100%;
    transition: 400ms;
   
}
.close{
    cursor: pointer;
}
