.cartpage{
    width: 100%;
    padding: 2%;
}
.rout{
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: left;
    text-align: left;
    margin: 20px 0px;
}
.mainwins{
    padding: 3%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.imgcontainer{
   display: flex;
   width: 30%;
   height: 30%;
}
.addbtn{
    padding: 10px;
    border: 1px solid gray;
    margin-right: 40px;
    cursor: pointer;
    
}
.heart{
    padding: 10px;
    cursor: pointer;
    border: 1px solid gray;
}
.inputpart{
    display: block;
    text-align: center;
    width: 100%;
}
.inputpart label{
    margin: 5px;
}
.inputpart input{
    margin: 20px 0px;
}
.blackbtn{
    background-color: black;
    padding: 10px;
    font-weight: 600;
    margin: 20px 0px;
    color: white;
    cursor: pointer;
}
.cardname{
    font-size: 24px;
    margin: 10px;
}
.courceltltle{
    font-size: x-large;
    margin: 0px 20px;
    display: flex;
    width: 100%;
    justify-content: left;

}
.imgcontainer img{
    width: 100%;
    height: 100%;
}
.buycard{
    text-align: center;
    display: block;
    justify-content: left;
    margin: 20px 2%;
}
.cardprice{
    font-size: 20px;
}
.property{
    margin: 30px ;
    font-size: 16px;
    display: block;
    justify-content: center;
}
.introduce{
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
}
.courcelbox{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 150px;
}
.addsth{
    display: flex;
    justify-content:space-around;
    width: 100%;


}

