
p{
    font-size: 20px;
    margin: 8px;
    display: flex;
    color: white;
    justify-content: left;
}
.emptybox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 50%;
}