.textleft{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-right: 10%;
}
.textright{
    /* width: 90%; */
    display: block;
    text-align: center;
    align-items: center;
}
.right{
    
}
.wholesale{
    display: flex;
    padding: 48px 96px;
    
}
.smallcon{
    display: block;
    text-align: center;
}
.title2{
    width: 100%;
}
.title{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;
   
}
.btnbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail{
    font-size: 16px;
    margin-bottom: 16px;
    justify-content: center;
    text-align: center;
}
.under{
    display: flex;
    justify-content: center;
}
.underline{
    border-bottom: 2px solid black;
    margin-bottom: 16px;
    text-decoration: solid;
    text-decoration-color: black;
    width: 150px;
}
.contactus{
    font-size: 25px;
    margin-bottom: 8px;
    font-weight: 800;
}
.inquiries{
    font-size: 15px;
    margin-bottom: 16px;
    font-weight: 500;
}
.incol{
    margin: 0px 12px;
}
.inputdata{
    margin: 8px;
    padding: 4px 16px;   
    border: none;
    border-bottom: 2px solid black;
    outline: none;
   
    
}
.msgarea{
    width: 100%;
    margin-top: 20px;
    outline: none;
    border-bottom: 2px solid black;
    margin: 0px 12px;
}
.inputdata:focus{
    border-bottom: 2px solid rgb(255, 255, 255);

}
.line{
    width: 100%;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .wholesale{
        display: block;
    }
}
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .wholesale{
        display: block;
    }
      
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 870px) {
    .wholesale{
        display: flex;
    }
  }
  