#sidecart{
    z-index: 1;
    width: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: white;
    display: block;
    transition: 0.3s;
    
}

.outwin{
  
    display: flex;
   /* position: fixed; */
   top: 0px;
   left: 0px;
  
}
.unshown{
    /* display: none; */
    visibility:hidden ;
}

#smallleft{
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
}
.carttop{
    height: 80px;
    display: flex;
    /* justify-content: space-between; */
    background-color: rgb(0, 153, 255);
    justify-content: left;
    align-items: center;
    padding: 2px;

}
.cartmark{
    
    display: flex;
    justify-content: right;
}
#nopad{
    padding: 0px;
    margin: 0px;
    height: 70px;
    width: 70px;
   
}
.nexticon{
    margin-left: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.carttitle{
    font-weight: 500;
    font-size: 20px;
    color: white;
}
.subtotal{
    font-size: 20pX;
    margin-left: 20px;

}
.totalPrice{
    font-size: 20px;
    margin-left: 20px;
}
.cartbox{
    padding: 16px;
    overflow: auto;
    height: 67%;
    margin: 15px;
    display: block;
}
.viewcart{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky; */
    bottom: 20px;
    margin: 20px;
    cursor: pointer;
}
