.footer {
  width: 100%;
  height: auto;
  padding-top: 48px;
  margin: auto 0px;
  background-color: rgba(0, 0, 0, 0.89);
  display: block;
  position: static;
  bottom: 0px;
  margin-bottom: 0px;

}

.iconbox {
  display: flex;
  /* position: relative; */
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
  margin-top:10px;
  padding: 30px;
}
img {
  width: 20px;
  height: 20px;
  margin: 20px ;
}
.above {
  display: block;
  justify-content: center;
}
.smallt{
    font-size: 13px;
    color: rebeccapurple;
}
#icons{
    margin: 20xp 10px;
    width: 20px;
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 540px) {
  .above{
    display: block;
    text-align: center;
   
}

.textbtn{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .btbox1{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
.btbox2{
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin: 20px;
  padding: 10px 0px;
}
.box3{
  text-align: center;
  justify-content: center;
  display: block;
}
  .textbox{
    display: flex;
    justify-content: center;
  }
  .input{
    width: 200px;
  
    /* padding: 0px 40px; */
  
  }
  .btn{
    margin: 30%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 540px) {
    .above{
        display: flex;
        /* justify-content: center; */
        flex-wrap: wrap;
      
    }
    .textbtn{
      margin: 10px;
      display: flex;
     
     }
     .btbox1{
      display: block;
      text-align: center;
    }
    
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .body{
    overflow: scroll ;
}
.above {
    display: flex;
    flex-wrap: wrap;

  }
  .textbtn{
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
   }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1120px) {
    .above {
        display: flex;
       
      }
      
      
}
