/* Extra large devices (large laptops and desktops, 1200px and up) */

header {
    width: 100%;
    overflow: hidden;
}

/* img{
        width: 100%;
    } */
.imgbox {
    height: 90px;
    width: 150px;
    padding: 10px;
    position: relative;


}

.markImg {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* visibility: hidden; */
    /* cursor: pointer; */
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;



}

.heads {
    width: 100%;
    height: 40px;
    /* display: inline; */
    padding: 8px 0px 8px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.con {
    display: flex;
    padding: 0px 1%;
}

.nav {
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;

    /* display: flex; */
    display: flex;
    justify-content: space-between;
}

.menu {
    font-size: 30px;
    cursor: pointer;
    /* padding-left: 20px; */
    visibility: hidden;
}

.busket {
    /* padding-left: 20px; */
    cursor: pointer;
}

.nav-fs {
    font-size: 16px;
    border: 0px;
    text-decoration: none;
    color: black;
    background-color: rgba(0, 110, 255, 0);
    /* text-decoration-line: none; */
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.nav-fs div {
    /* text-decoration: none; */
    display: inline;
}

.bg-prime {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(0, 110, 255, 0.733);

}

.imgbox {
    width: 10%;
    cursor: pointer;

    overflow: hidden;
    display: flex;
}

.toolbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 15%; */
}


.dropdowns {
    border: 1px solid black;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    background: rgba(0, 110, 255, 0);
    /* color: brown; */
    width: 65px;
    height: 25.6px;
    cursor: pointer;
}

.lens {
    padding-left: 20px;
    cursor: pointer;
}

.contact {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0px;
    padding: 0px;

}

.headtext {
    font-size: 14px;
    letter-spacing: 3px;
    display: inline;
    /* flex-direction: row; */
    /* position: static; */
    padding-left: 5px;
    padding-right: 5px;
    /* justify-content: center; */
    /* align-items: center; */
}

#myNav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    transition: 0.2s;
 
    display: block;
    
}
@media only screen and (max-width: 600px) {
    .menu {
        visibility: initial;
    }

    .contact {
        display: none;
    }

    .imgbox {
        width: 90px;

    }

    .dropdowns {
        display: none;
    }

    .toolbox {
        width: 30%;
        position: relative;
        left: -10px;
    }
    #myNav {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        overflow-x: hidden;
        
        display: block;
        
    }
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu {
        visibility: initial;
    }

    .toolbox {
        width: 30%;
    }

    .contact {
        display: none;
    }

    .imgbox {
        width: 90px;

    }

    .dropdowns {
        display: none;
    }
    #myNav {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        overflow-x: hidden;
        transition: 0.2s;
     
        display: block;
        
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1000px) {
    .menu {
        display: none;
    }
    #myNav {
        width: 0px;
        display: none;
        
    }
    .contact {
        display: initial;
        display: flex;
        align-items: center;
    }

    .dropdowns {
        display: initial;
    }

    .toolbox {
        width: 15%;
    }
    
    
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1120px) {}




.navs{
    border: 1px solid black;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    background: rgba(0, 110, 255, 0);
    /* color: brown; */
    width: 65px;
    height: 25.6px;
    cursor: pointer;
}
.bartitle{
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.closebtn{
    color: black;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: right;
   
}
.blocks{
    display: block;
    flex-wrap: wrap;
  
    
    text-align: center;
}
.blocks .nav-fs{
    font-size: large;
    margin-top: 20px;
    font-weight: 500;
}

.sidecon{
    height: 100%;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    

}
.nav{
    display: flex;
    width: 100%;
}
.aaa{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/* #myNav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
 
    display: block;
    
} */