.faqs-subject {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "consolas";
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -1px;
    margin-bottom: 30px;
    display: block;

}

.faqsBody {
    padding: 48px;
    flex-wrap: wrap;
    display: block;
}

.sentencebox {

    padding: 0px 12px;
    margin: 0px 10%;

}

@media only screen and (max-width: 540px) {
    .faqs-subject {
        font-size: 20px;
    }

    .sentencebox {
        padding: 0px 5px;
        margin: 0px 5%;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 540px) {
    .faqs-subject {
        font-size: 30px;
    }

    .sentencebox {
        padding: 0px 5px;
        margin: 0px 5%;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .faqs-subject {
        font-size: 30px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1120px) {}